@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --txt-color: #fafafa;
  --secondary-color: #1a1a1a;
  --line-bg: #fafafa;
  --button-bg: #e0bea2c0;
  --register-bg: #e0bea2;
  --bg-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.RegBlock {
  font-family: Raleway;
  width: 475px;
  background-color: var(--register-bg);
  color: var(--txt-color);
  border: 2px solid var(--txt-color);
  border-radius: 10px;
}
.RegBlock h1 {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}
.RegBlock .underline {
  margin-left: 25.5vh;
  width: 100px;
  height: 2px;
  background-color: var(--bg-color);
}
.RegBlock h3 {
  font-size: 20px;
  text-align: center;
}
.RegBlock .InfoField {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  margin-bottom: 75px;
}
.RegBlock .InfoField input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: var(--txt-color);
  padding: 20px 46px 20px 20px;
  margin-bottom: 10px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--txt-color);
  border-radius: 20px;
}
.RegBlock .InfoField input::-webkit-input-placeholder {
  color: var(--txt-color);
}
.RegBlock .InfoField input::-moz-placeholder {
  color: var(--txt-color);
}
.RegBlock .InfoField input:-ms-input-placeholder {
  color: var(--txt-color);
}
.RegBlock .InfoField input::-ms-input-placeholder {
  color: var(--txt-color);
}
.RegBlock .InfoField input::placeholder {
  color: var(--txt-color);
}
.RegBlock .InfoField .name {
  position: absolute;
  top: 12px;
  left: 59vh;
}
.RegBlock .InfoField .surname {
  position: absolute;
  top: 75px;
  left: 59vh;
}
.RegBlock .InfoField .envelope {
  position: absolute;
  top: 12px;
  left: 59vh;
}
.RegBlock .InfoField .lock {
  position: absolute;
  top: 75px;
  left: 59vh;
}
.RegBlock .LastInfField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  margin: -15px 0 15px;
}
.RegBlock .LastInfField label input {
  accent-color: var(--txt-color);
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.RegBlock .submit-button button {
  width: 100%;
  height: 40px;
  background-color: var(--txt-color);
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 600;
}
.RegBlock .Login {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--txt-color);
}
.RegBlock .Login a {
  color: var(--txt-color);
  text-decoration: none;
}